<a href="https://colab.research.google.com/github/moneypitak/multivariate/blob/main/Final_multivariate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


ให้นักศึกษาทำข้อสอบใน Colab Notebook นี้โดยกรอกข้อมูลของตัวเองใน cell ที่ 2 แล้วรัน cell ที่ 1 - 5 และเริ่มทำข้อสอบใน cell ที่ 6 เป็นต้นไป

โดยโจทย์คือ

1.ข้อมูลโจทย์ อยู่ใน ตัวแปร Data

2.ทำ clustering แล้วทำ visualize ข้อมูลแบบ 2 มิติ

3.ลด Dimension ของข้อมูลเหลือ 2 มิติ แล้วทำ clustering แล้ว visualize ข้อมูลแบบ 
2 มิติ

4.เปรียบเทียบความแตกต่างของผลข้อ 2. กับ ข้อ 3.

5.เขียน comments อธิบายทุกขั้นตอน

6.อัด video อธิบาย code ทุกๆขั้นตอนรวมถึงผลแล้วอัพลง youtube ในรูปแบบ unlist

7.commit โดยใช้ชื่อ commit เป็น link youtube ที่อธิบาย code ในข้อ 6.

กำหนดส่งวันที่ 2 พฤษภาคม 2564 (โดยให้มากรอกวันที่ commit ครั้งสุดท้ายใน sheet: https://docs.google.com/spreadsheets/d/1_qJwLDJVtOW1HxBcf_FHVc6UT4J_SOonuR6o3EEnVzw/edit?usp=sharing ช่อง Final)

In [ ]:
from sklearn.datasets import make_blobs
import random,math
import numpy as np
import pandas

In [ ]:

Name = 'นายมันนี่ พิทักษ์'
ID = '623020532-3'

In [ ]:
def DataGenerator(name,id):
    random.seed(int(id[3:6]))
    numfeat = random.randint(20,30)
    ct = random.randint(len(name)-6,len(name))
    
    X, y = make_blobs(n_samples=10000, centers=ct, n_features=numfeat , random_state=int(id[3:6]))

    print(f'{id[3:6]}:{numfeat}:{ct}')
    X_t = (X[:,1]*2)+int(id[3])
    X_t2 = (X[:,-1]*5)+int(id[4])

    DT = np.append(X,X_t.reshape([10000,1]),axis=1)
    DT = np.append(DT,X_t2.reshape([10000,1]),axis=1)
    
    return pandas.DataFrame(DT)

In [ ]:
Data = DataGenerator(Name,ID)

020:30:17

In [ ]:
Data

             0         1          2   ...         29         30         31
0      1.158735  5.690950   4.721809  ...   7.008406  11.381901  37.042030
1      0.237897 -8.708843   4.091957  ... -10.218368 -17.417686 -49.091842
2      4.866806  8.418990   6.767935  ...   3.658404  16.837979  20.292018
3     -1.136705 -2.714385  -2.648603  ...   8.228941  -5.428770  43.144703
4     -1.028214  5.195002  -3.857438  ...  -4.331333  10.390004 -19.656667
...         ...       ...        ...  ...        ...        ...        ...
9995   0.209858 -2.107553  -4.876959  ...   2.627791  -4.215105  15.138955
9996   0.820607  3.711509  -4.954779  ...  -7.743286   7.423018 -36.716428
9997 -10.583808  4.730278  -1.744426  ... -11.027183   9.460556 -53.135914
9998   1.642318  2.744377   2.768039  ...  -8.520655   5.488755 -40.603276
9999   4.133710  7.231400 -10.363063  ...   5.809806  14.462801  31.049030

[10000 rows x 32 columns]

ข้อมูลที่ได้มามี 10000 แถวและ 32 คอลัมน์

In [ ]:
Data.shape

(10000, 32)

ดูขนาดของ Correlation coeficient จากข้อมูล

In [ ]:
corr = np.corrcoef(Data.to_numpy().T)
corr.shape

(32, 32)

ทำการวนลูปหาค่าสัมประสิทธิ์ความสัมพันธ์ (Correlation)ที่ซ้ำกัดเพื่อขจัดข้อมูลนั้นออกไป

In [ ]:
for i in range(corr.shape[0]):
    for j in range(corr.shape[1]):
        if (i !=j) and (corr[i,j] == 1.):
            print(f'row = {i} column = {j} corrcoef = {corr[i,j]}')

row = 1 column = 30 corrcoef = 1.0
row = 30 column = 1 corrcoef = 1.0

In [ ]:
new_data = Data.iloc[:,1:30]
new_data

            1          2          3   ...         27        28         29
0     5.690950   4.721809   6.845420  ...  -6.643199  0.836293   7.008406
1    -8.708843   4.091957   3.514153  ...  -4.989181 -7.989723 -10.218368
2     8.418990   6.767935  -4.984544  ...   0.297157  2.435627   3.658404
3    -2.714385  -2.648603   4.901242  ...   5.860868  0.052261   8.228941
4     5.195002  -3.857438  -2.639887  ...  11.146235  7.814902  -4.331333
...        ...        ...        ...  ...        ...       ...        ...
9995 -2.107553  -4.876959  10.332166  ...   7.575231 -3.882827   2.627791
9996  3.711509  -4.954779  -3.238819  ...  10.454157  7.079641  -7.743286
9997  4.730278  -1.744426  -9.567553  ...  -6.066785  8.830470 -11.027183
9998  2.744377   2.768039   7.493199  ...  -7.448938  1.370353  -8.520655
9999  7.231400 -10.363063  -7.070742  ...  -2.979642 -9.131887   5.809806

[10000 rows x 29 columns]

import

In [ ]:

from sklearn.cluster import KMeans

Define

In [ ]:
kmeans = KMeans(n_clusters=8, random_state=2021)

เริ่มทำการคำนวณ

In [ ]:
kmeans.fit(new_data)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=8, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=2021, tol=0.0001, verbose=0)

แสดง จุด cluster centers ที่คำนวณออกมาได้

In [ ]:
kmeans.cluster_centers_

array([[ 6.88587776e+00,  7.17865897e+00,  6.32258722e+00,
        -9.05504787e+00,  5.80221119e+00,  3.31059524e+00,
        -2.63445280e+00,  4.33167159e+00, -3.86624225e+00,
        -2.62959838e+00,  3.98340654e+00,  7.09716845e+00,
         7.07468567e+00,  7.31355219e+00, -3.26841996e+00,
        -8.13537577e+00,  6.24076867e+00, -3.99548429e+00,
        -1.09431515e+00,  7.67136382e+00,  4.53433853e+00,
         4.16435817e+00,  1.75787357e+00,  7.68140907e+00,
        -2.09197786e+00, -1.15931194e+00,  5.79773017e-01,
        -7.37432435e-01,  3.68755189e+00],
       [-1.09516775e+00, -5.39084335e+00, -3.37696274e+00,
         5.82951052e+00,  4.69044851e+00,  4.22899302e+00,
         8.20194567e-01, -1.92899927e+00, -1.59090025e+00,
         2.76424497e+00, -3.84254352e-01,  1.14929818e-01,
         5.25857180e-01,  1.32585339e+00,  3.94743306e+00,
        -2.75772708e+00,  2.84889478e+00,  4.77776748e+00,
        -3.12725677e+00, -1.02603302e+00, -7.10612094e-01,
         6.24130788e+00,  1.52890629e+00,  5.17992105e+00,
        -2.00646852e+00,  1.32042074e+00,  2.58914551e+00,
        -2.85972149e+00,  4.78332726e+00],
       [-7.19458321e+00,  1.83607329e+00,  7.06315125e+00,
         8.50245528e-01,  1.79234460e+00, -3.69967411e+00,
         2.25182991e+00, -1.17908859e+00,  1.88510230e+00,
         6.03324679e+00,  5.13936607e+00,  2.87796700e+00,
         7.35385051e+00, -4.16935447e+00,  2.00893226e+00,
         2.90473175e-01,  2.89739167e+00,  5.75736380e-01,
         4.07189355e+00, -9.23310288e-01, -1.36477202e-01,
        -2.79698262e+00, -2.15806481e+00, -5.32006492e+00,
        -3.86226393e+00, -2.21941054e+00,  1.71015832e+00,
        -2.60459234e+00, -5.01118426e+00],
       [ 9.22052562e+00,  6.57441831e+00, -5.59985866e+00,
        -5.26001564e+00, -3.80565246e+00,  9.47580742e+00,
         2.76982391e+00,  8.12884341e+00, -9.79206542e+00,
         5.35036053e+00, -9.97736203e+00, -9.12595167e+00,
        -9.90204178e+00, -5.86458877e+00, -3.45106625e+00,
         9.16145420e+00,  8.23434737e+00,  1.62892241e+00,
         6.27984659e+00, -9.37006767e+00,  5.13584199e+00,
        -8.32760162e+00, -6.44824198e+00,  8.57125546e+00,
        -4.77684972e+00,  6.02263126e+00,  5.81723276e-01,
         3.92620518e+00,  3.84653883e+00],
       [ 3.11320166e+00,  3.23525803e+00,  6.05899123e+00,
        -3.34406050e+00, -9.77888432e+00,  7.08028360e+00,
         5.90547647e+00,  2.32431289e-01,  7.37556244e+00,
        -1.89881602e+00,  6.85089134e+00,  4.55702516e+00,
         2.49918121e+00,  9.57914833e+00,  9.67657845e+00,
         7.32915259e+00, -2.74987043e+00, -9.63454218e+00,
         7.65872328e+00, -9.12459849e+00, -3.00287161e+00,
        -4.51354824e+00,  9.96535674e+00, -5.52243051e+00,
        -4.43378955e+00, -2.83798706e+00, -8.38445041e+00,
         1.05624553e+00, -8.66620911e+00],
       [ 5.30386862e-03, -4.88875922e+00,  4.27840892e+00,
         5.72786378e+00, -8.18570991e+00,  2.91864941e+00,
        -2.04683658e-01,  2.40937341e+00,  1.33811388e+00,
        -6.87652622e+00, -1.35045062e+00,  1.64196550e+00,
        -4.45491199e+00, -4.91446205e+00, -8.39049185e-01,
         2.39215183e+00, -9.86337360e-01, -8.26823329e-01,
        -2.48735883e+00,  3.73262517e+00, -5.28459180e+00,
        -9.88485799e-01, -2.95280974e+00,  4.08952590e+00,
        -3.21241246e+00, -4.99691208e+00,  3.11302747e+00,
         9.08164781e+00, -4.26245587e-01],
       [-2.25742021e+00, -3.30760490e+00, -8.39807639e+00,
        -5.06735160e+00,  4.85603001e+00, -7.75589059e+00,
        -8.76695952e+00, -1.62864457e+00,  6.05997559e+00,
        -6.94994644e-01, -7.98307529e-01,  1.04328458e+00,
         2.56953402e+00, -3.42197227e+00,  6.47453910e+00,
         7.25822360e+00,  8.00536987e+00, -9.40988953e+00,
        -6.39459703e+00, -1.40607830e+00,  1.69850221e+00,
         1.30323654e-02,  4.41385762e+00,  3.42676186e+00,
         6.16798308e-01, -1.71881820e+00, -2.29805246e+00,
         5.79816256e+00, -7.06615355e+00],
       [-5.67482793e+00, -1.62875855e-01,  8.55336903e+00,
        -7.70427396e+00, -2.27144632e+00, -2.08091232e+00,
        -3.84331721e+00, -8.91116564e+00, -5.73744167e+00,
         8.78642892e+00, -5.16381340e+00, -9.71133814e+00,
        -1.49423058e+00,  2.39781638e+00, -2.75956638e+00,
         9.21550402e+00, -6.87898188e+00,  8.98790883e+00,
        -4.00489032e-01,  6.15171249e+00,  2.68092619e+00,
        -6.48555691e+00, -9.30109143e+00,  9.02159087e+00,
         7.80450553e+00,  4.71141037e+00, -8.16001020e-01,
        -1.57636121e+00,  6.81948769e+00]])

ทดสอบการจัดกลุ่มของ Data

In [ ]:
km = kmeans.predict(new_data)
km

array([0, 2, 3, ..., 6, 4, 1], dtype=int32)

ทำ PCA ลด DN

In [ ]:
from sklearn.decomposition import PCA
from matplotlib import pyplot as plt
pca = PCA(n_components=2)
new_pca = pca.fit_transform(new_data)

In [ ]:
matplotlib.rcParams['figure.figsize']=[5,5]

In [ ]:
kmeans = KMeans(n_clusters=8, random_state=2021)
kmeans.fit(new_data)
y = kmeans.predict(new_data)
plt.scatter(new_pca[:,0],new_pca[:,1],c=y)

จากนั้นทำการหาจำนวนกลุ่มที่เหมาะสมต่อการแบ่งกลุ่มโดยการหาค่า k ที่เหมาะสมของข้อมูลด้วยวิธี The Elbow Method

ทำการหาค่า SSE (Sum of Squared error) ของข้อมูล

วิธีการหาค่า k ด้วยวิธี The elbow method

In [ ]:
kmeans.inertia_  #ค่าของ SSE Sum of Squared error

In [ ]:
SSE = list()
for k in [1,2,3,4,5,6,7,8]:
    kmeans = KMeans(n_clusters = k , random_state = 2021)
    m = kmeans.fit(new_data)
    SSE.append(kmeans.inertia_)

In [ ]:
SSE

In [ ]:
matplotlib.rcParams['figure.figsize']=[5,5]

In [ ]:
plt.plot([1,2,3,4,5,6,7,8],SSE,'o-r')
plt.xlabel('k')
plt.ylabel('SSE');

In [ ]:
kmeans = KMeans(n_clusters = 8,random_state=2021)
kmeans.fit(new_data)
km = kmeans.predict(new_data)
plt.scatter(new_pca[:,0],new_pca[:,1],c=t,alpha=0.7)
plt.title('DataGenerator') 
plt.xlabel('X') 
plt.ylabel('Y');

จากกราฟ หลังจากที่ได้ทำการจัดกลุ่ม k เท่ากับ 8 กลุ่ม

3.ลด Dimension ของข้อมูลเหลือ 2 มิติ แล้วทำ clustering แล้ว visualize ข้อมูลแบบ 2 มิติ

จากกราฟข้างต้น เนื่องจากมีการทับซ้อนของข้อมูล ดังนั้นจะเป็ฯการลด Dimension

*วิธี MDS*

Import

In [ ]:
from sklearn.manifold import MDS

Define

In [ ]:
mds = MDS(n_components=2)

fit transform

In [ ]:
new_mds = mds.fit_transform(new_data)

ทำการจัดกลุ่มจากการวัดระยะห่างในการจัดกลุ่ม ระหว่างจุดข้อมูล

In [ ]:
kmeans_23 = KMeans(n_clusters=8,random_state=2021)
kmeans_23.fit(new_data)
g = kmeans_23.predict(new_data)

In [ ]:
plt.scatter(new_mds[:,0],new_mds[:,1],c=g,alpha=0.7)
plt.title('DataGenerator') 
plt.xlabel('X') 
plt.ylabel('Y');

# เปรียบเทียบความแตกต่างของผลข้อ 2. กับ ข้อ 3.

กราฟที่ 1 กราฟ PCA

In [ ]:
plt.scatter(new_pca[:,0],new_pca[:,1],c=t,alpha=0.7)
plt.title('DataGenerator') 
plt.xlabel('X') 
plt.ylabel('Y');


กราฟที่ 2 กราฟ MDS

In [ ]:
plt.scatter(new_mds[:,0],new_mds[:,1],c=g,alpha=0.7)
plt.title('DataGenerator') 
plt.xlabel('X') 
plt.ylabel('Y');

จากการเปรียบเทียบกราฟที่ 1 กราฟ PCA และ กราฟที่ 2 กราฟ MDS จะเห็นการกระจายของข้อมูลที่แตกต่างกันส่วนกราฟที่ 1 ข้อมูลส่วนมากไม่มีการกระจายของข้อมูล